<header>
    <div class="header-logo">
        Tweet App
    </div>
    <ul class="header-menus">
        <li> About</li>
    </ul>
</header>

<div class="about-main">
    <h2>About Tweet App</h2>
    <p>
        Tweet App is a social media.
        You can post your tweets and enjoy communicating with other users!
    </p>
    <img class="about-img" src="/tweets.jpg">
</div>