<div class="about-main">
    <h2>About Tweet App</h2>
    <p>
        Tweet App is a social media.
        You can post your tweets and enjoy communicating with other users!
    </p>
    <img class="about-img" src="/tweets.jpg">
</div>